* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #b2a2c2;
  padding: 20px;
}
nav li {
  display: inline;
}
nav a {
  font-size: 16px;
  text-decoration: none;
}
h1,
h3 {
  text-align: center;
  margin: 32px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #d18373;
}

img {
  display: block;
  margin: 0 auto;
}
hr {
  border: 2px solid #bfd38f;
  width: 25%;
  margin: 0 auto;
}

.about,
.contact {
  position: relative;
  float: right;
}
.contact {
  margin-left: 10px;
}

.flexbox-container {
  display: flex;
  max-width: 860px;
  margin: 0 auto;
  flex-direction: row;
  padding: 32px;
}
.flexbox-container img {
  max-width: 50%;
  margin-right: 16px;
}
.flexbox-container h3:hover {
  color: #d18373;
}
.row {
  width: 50%;
}

.flex-item-1,
.flex-item-2,
.flex-item-3,
.flex-item-4,
.flex-item-5,
.flex-item-6 {
  border: 1px solid #b2a2c2;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #d8cae6;
  margin: 16px;
}

footer {
  margin-top: 60px;
  background-color: #bfd38f;
  padding: 20px;
  text-align: center;
}
footer p {
  margin-bottom: 10px;
}
footer a {
  font-size: 24px;
}
