@media only screen and (max-width: 414px) {
  body {
    font-size: 12px;
    background: linear-gradient(#f7eeff, #fbfff0);
  }

  nav {
    padding: 16px;
  }
  nav a {
    font-size: 12px;
    margin-left: 0;
    margin-right: 4px;
  }
  .logo img {
    max-height: 24px;
  }
  .logo p {
    font-size: 12px;
    white-space: normal;
  }

  h1 {
    color: blue;
    font-size: 20px;
    margin: 10px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    padding: 0 16px;
    font-size: 14px;
  }

  hr {
    margin: 24px auto;
    width: 140px;
  }
  .image-container {
    flex-direction: column;
  }
  .image-container p {
    margin-top: 12px;
  }

  .image-container img {
    max-width: 100%;
    margin-bottom: 16px;
    margin-right: 0;
  }

  .flexbox-container {
    flex-direction: column;
    gap: 0;
  }

  .videos,
  .sleep-videos {
    max-width: 100%;
  }
  .videos iframe,
  .sleep-videos iframe {
    max-width: 100%;
  }
  .yoga-container {
    padding: 0;
  }
  .yoga-container button {
    padding: 8px;
    font-size: 12px;
    width: 100px;
  }

  .last-item {
    margin-bottom: 120px;
  }
  .step {
    padding: 4px;
  }
  .step .fa,
  .fa-clock:before {
    font-size: 16px;
    margin-right: 4px;
  }
  form {
    margin: 0 auto;
    margin-top: 24px;
    width: 90%;
  }

  .image-container button {
    width: 120px;
    padding: 12px;
    font-size: 10px;
  }

  footer {
    margin-top: 320px;
  }
  footer .fa {
    font-size: 18px;
  }
  .about-us p {
    margin: 16px;
  }
  .text {
    margin: 16px;
  }
  .meditation-container .fa {
    font-size: 16px;
  }
}
