@media only screen and (max-width: 414px) {
  body {
    font-size: 12px;
  }
  nav a {
    font-size: 12apx;
    margin-right: 4px;
  }

  h1 {
    color: blue;
    font-size: 20px;
    margin: 10px;
  }
  h2 {
    font-size: 16px;
    margin: 12px;
  }

  hr {
    margin: 24px auto;
    width: 140px;
  }
  .image-container {
    flex-direction: column;
  }

  .image-container img {
    max-width: 100%;
    margin-bottom: 16px;
  }
  .image-container,
  .flexbox-container,
  .yoga-container,
  .sleep-container .sleep-steps {
    margin-left: 12px;
    margin-right: 12px;
  }

  .flex-item-1,
  .flex-item-2,
  .flex-item-3,
  .flex-item-4,
  .flex-item-5,
  .flex-item-6 {
    margin: 8px;
  }

  .videos,
  .sleep-videos {
    max-width: 100%;
    margin: 0 24px;
  }
  .videos iframe,
  .sleep-videos iframe {
    max-width: 100%;
  }
  .yoga-container {
    padding: 0;
  }
  .yoga-container button {
    padding: 8px;
    font-size: 12px;
    width: 100px;
  }

  .last-item {
    margin-bottom: 120px;
  }
  .sleep-steps {
    max-width: 90%;
    margin: 0 32px;
  }
  .sleep-steps li .fa {
    font-size: 16px;
    margin-right: 4px;
  }
  form {
    margin: 0 auto;
    font-size: 10px;
    margin-top: 24px;
    width: 100%;
  }
  .image-container button {
    width: 100px;
    padding: 10px;
    font-size: 10px;
  }
  footer {
    text-align: center;
  }
  footer .fa {
    font-size: 18px;
  }
}
