@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  color: #261e2d;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-image: url("../images/background.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right 56px;
  background-color: #fcffef;
}

.main-container {
  padding: 0 16px;
  max-width: 100vw;
}

nav {
  background-color: #8a7998;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}
nav a {
  font-size: 16px;
  text-decoration: none;
  color: white;
  margin-left: 12px;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  font-size: 16px;
}
.logo img {
  max-height: 36px;
}
.logo p {
  white-space: nowrap;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 24px 0;
}

h1,
h2 {
  font-weight: 700;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-weight: 300;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #261e2d;
}

img {
  display: block;
}

hr {
  border: 2px solid #bfd38f;
  width: 240px;
  margin: 32px auto;
}
p {
  line-height: 1.5;
}
input,
textarea {
  border: none !important;
  background-color: white !important;
}

.flexbox-container,
.image-container,
.image-container-contact {
  display: flex;
  flex-direction: row;
  max-width: 960px;
  margin: 0 auto;
}
.image-container img,
.image-container-contact img {
  max-height: 256px;
  margin-right: 32px;
}

.flexbox-container {
  max-width: 760px;
  max-height: 500px;
  gap: 16px;
}
.flexbox-container img {
  max-width: 40%;
  margin-right: 16px;
}
.flexbox-container h3,
.flexbox-container p {
  text-align: left;
  margin: 0;
}

.flexbox-container a {
  display: flex;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 20px;
  border: 1px solid #b2a2c2;
  box-shadow: 2px 2px 8px rgba(138, 121, 152, 0.7); /*#8a7998*/
}
.flexbox-container a:hover {
  color: #8a7998;
}

.meditation-container,
.sleep-container,
.anxiety-container {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
}
.anxiety-container .column-left {
  max-width: 50%;
}

.meditation-container .step,
.sleep-container .step,
.anxiety-container .step {
  padding: 4px;
}

.column-left {
  margin-right: 10px;
}

.sleep-container .fa,
.meditation-container .fa,
.anxiety-container .fa {
  font-size: 24px;
  color: #d2897b;
  margin-right: 6px;
  line-height: 1.5;
}

.videos,
.sleep-videos {
  max-width: 600px;
  margin: 0 auto;
}

.videos h2 {
  text-align: center;
  margin: 24px;
}

iframe {
  padding: 32px 0;
  margin: 0 auto;
}

.yoga-container {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.image-container button,
.image-container-contact button {
  font-size: 14px;
  display: inline;
  background-color: #b2a2c2;
  color: white;
  transition: all 200ms ease-in-out;
  margin: 10px auto;
  margin-right: 10px;
  padding: 16px;
  border: 0;
  border-radius: 30px;
  width: 160px;
  outline: none;
  font-size: 14px;
  cursor: pointer;
}

.image-container button,
.image-container-contact button {
  margin: 0 auto;
  margin-bottom: 20px;
}

form button:hover {
  background-color: #6b5380;
}

form {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 60%;
  overflow: hidden;
  max-width: 448px;
  padding: 0 16px;
  border-radius: 20px;
  border: 1px solid #b2a2c2;
  box-shadow: 2px 2px 8px rgba(138, 121, 152, 0.7); /*#8a7998*/
}
form input,
form textarea {
  font-family: "Mulish", sans-serif;
  margin: 16px 0;
  padding: 10px;
  outline: none;
  resize: none;
  font-size: 16px;
}
.about-us {
  max-width: 960px;
  margin: 0 auto;
}
.text {
  text-align: left;
  max-width: 960px;
  margin: 0 auto;
  display: block;
}

footer {
  color: white;
  background-color: #bfd38f;
  padding: 24px 0;
  text-align: center;
  width: 100%;
  margin-top: 160px;
}
footer p {
  margin-bottom: 10px;
}
footer a {
  color: white;
}

footer a:hover {
  color: #8a7998;
}
footer .fa {
  font-size: 30px;
}

li label {
  color: white;
  font-size: 16px;
  padding: 8px;
}

ul {
  list-style: none;
  text-align: left;
}

.yoga-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 40px;
  max-width: 480px;
  color: white;
  background-color: #b2a2c2;
  border-radius: 20px;
}
.yoga-container h4 {
  margin-bottom: 8px;
}

input[type="checkbox"] {
  cursor: pointer;
}
#quote,
.quote-header {
  text-align: center;
}
/*.recipe {
  display: none;
}*/
