@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  color: #261e2d;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 18pts;
  background: linear-gradient(#f7eeff, #fbfff0);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  background-color: #8a7998;
  padding: 24px;
}
nav li {
  display: inline;
}
nav a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}
.about,
.contact {
  position: relative;
  float: right;
}
.contact {
  margin-left: 10px;
}

input,
textarea {
  border: none !important;
  background-color: white !important;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 24px 0;
}
.yoga-container h3:first-child {
  margin-top: 0;
}

h1,
h2 {
  font-weight: 700;
}
h1 {
  font-size: 40pts;
}
h2 {
  font-size: 18pts;
}
h3 {
  font-weight: 300;
  font-size: 24pts;
}

a {
  text-decoration: none;
  color: #261e2d;
}

img {
  display: block;
}

hr {
  border: 2px solid #bfd38f;
  width: 240px;
  margin: 32px auto;
}
p {
  line-height: 1.5;
}

.flexbox-container,
.image-container,
.image-container-contact {
  display: flex;
  flex-direction: row;
  max-width: 960px;
  margin: 0 auto;
}
.image-container img,
.image-container-contact img {
  max-height: 256px;
  margin-right: 16px;
  margin-top: 6px;
}

.flexbox-container {
  max-width: 760px;
  max-height: 500px;
}
.flexbox-container img {
  max-width: 40%;
  margin: 0 auto;
  margin-top: 10px;
}
.flexbox-container h3,
.flexbox-container p {
  text-align: center;
  margin: 0;
  padding: 4px;
}
.flexbox-container h3:hover {
  color: #6b5380;
}
.flexbox-container a:hover {
  color: #8a7998;
}

.meditation-container,
.sleep-container {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
}
.sleep-container {
  display: flex;
}
.column-left {
  margin-right: 16px;
}

.row {
  width: 50%;
}

.flex-item-1,
.flex-item-2,
.flex-item-3,
.flex-item-4,
.flex-item-5,
.flex-item-6 {
  border: 1px solid #b2a2c2;
  border-radius: 20px;
  box-shadow: 2px 2px 8px rgba(138, 121, 152, 0.7); /*#8a7998*/
  margin: 16px;
}

.videos,
.sleep-videos {
  max-width: 40%;
  margin: 0 auto;
}

.videos h2 {
  text-align: center;
  margin: 24px;
}

.sleep-container .fa {
  font-size: 24px;
  color: #d2897b;
  margin-right: 6px;
  line-height: 1.5;
}
.step {
  padding: 6px;
}

iframe {
  padding: 32px 0;
  margin: 0 auto;
}

.last-item {
  margin-bottom: 200px;
}

footer {
  color: white;
  background-color: #bfd38f;
  padding: 24px;
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
}
footer p {
  margin-bottom: 10px;
}
footer a {
  color: white;
}
footer a:hover {
  color: #8a7998;
}
footer .fa {
  font-size: 22px;
}

.yoga-container button:hover,
form button:hover {
  background-color: #6b5380;
}
.yoga-container {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.yoga-container button,
.image-container button,
.image-container-contact button {
  font-size: 14px;
  display: inline;
  background-color: #b2a2c2;
  color: white;
  transition: all 200ms ease-in-out;
  margin: 10px auto;
  margin-right: 10px;
  padding: 16px;
  border: 0;
  border-radius: 30px;
  width: 160px;
  outline: none;
  font-size: 14px;
  cursor: pointer;
}
.image-container button,
.image-container-contact button {
  margin: 0 auto;
  margin-bottom: 20px;
}

form {
  background-color: white;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  width: 60%;
  margin: 8px;
  margin-left: 32px;
  max-width: 400px;
  max-height: 400px;
  border-radius: 20px;
  border: 1px solid #b2a2c2;
  box-shadow: 2px 2px 8px rgba(138, 121, 152, 0.7); /*#8a7998*/
}
form input,
form textarea {
  font-family: "Mulish", sans-serif;
  margin: 15px 0;
  padding: 10px;
  outline: none;
}
