@media only screen and (min-width: 414px) and (max-width: 768px) {
  body {
    font-size: 12px;
    background: linear-gradient(#f7eeff, #fbfff0);
  }
  nav a {
    font-size: 14px;
  }

  h1 {
    color: green;
    font-size: 24px;
    margin: 14px;
  }
  h2 {
    font-size: 18px;
    margin: 12px;
  }
  h3 {
    font-size: 16px;
  }

  hr {
    margin: 24px auto;
    width: 160px;
  }
  .logo img {
    max-height: 24px;
  }
  .logo p {
    font-size: 14px;
    white-space: normal;
  }

  .image-container {
    flex-direction: column;
  }
  .image-container img {
    max-width: 100%;
    margin-bottom: 16px;
    margin-right: 0;
  }
  .image-container p {
    margin-top: 12px;
  }

  .videos,
  .sleep-videos {
    width: 100%;
  }
  .videos iframe,
  .sleep-videos iframe {
    width: 100%;
  }

  .last-item {
    margin-bottom: 160px;
  }
  .step {
    padding: 6px;
  }
  .step .fa,
  .fa-clock:before {
    font-size: 18px;
    margin-right: 4px;
  }
  form {
    margin: 0 auto;
    margin-top: 32px;
    width: 80%;
  }

  .image-container img,
  .image-container-contact img {
    max-height: none;
  }

  footer a,
  footer p {
    font-size: 14px;
  }
  footer .fa {
    font-size: 20px;
  }

  .meditation-container .fa {
    font-size: 18px;
  }
  .yoga-container li label {
    font-size: 12px;
  }
}
