@media only screen and (min-width: 414px) and (max-width: 768px) {
  body {
    font-size: 12px;
  }
  nav a {
    font-size: 14px;
  }

  h1 {
    color: green;
    font-size: 22px;
    margin: 14px;
  }
  h2 {
    font-size: 18px;
    margin: 12px;
  }

  hr {
    margin: 24px auto;
    width: 160px;
  }

  .image-container {
    flex-direction: column;
    margin: 16px;
  }
  .image-container img {
    max-width: 100%;
    margin-bottom: 16px;
  }

  .videos,
  .sleep-videos {
    max-width: 100%;
    margin: 0 24px;
  }
  .videos iframe,
  .sleep-videos iframe {
    max-width: 100%;
  }

  .yoga-container button {
    width: 144px;
    padding: 10px;
  }

  .last-item {
    margin-bottom: 160px;
  }
  .sleep-steps {
    max-width: 90%;
    margin: 0 32px;
  }
  .sleep-steps li .fa {
    font-size: 20px;
    margin-right: 4px;
  }
  form {
    margin: 0 auto;
    font-size: 12px;
    margin-top: 32px;
    width: 80%;
  }
  .image-container button {
    width: 120px;
    padding: 10px;
    font-size: 12px;
  }
  footer .fa {
    font-size: 20px;
  }
}
